<!-- Main card => 100vh scrollable start -->
<div class="view-wrapper fullpageDiv">
  <!-- =============================Filter Params============================= -->
  <div class="ExportDiv1">
    <div class="mainDiv mb-1 p-0">
      <!-- First Group -->
      <div class="row ms-1 me-1" (click)="Show_toggle_Groups_By_Div_click()">
        <div class="col-2 mt-2">
          <dx-form [formData]="dateForm" [labelMode]="'floating'">
            <dxi-item
              dataField="fromdate"
              editorType="dxDateBox"
              [editorOptions]="{
                applyValueMode: 'instantly',
                displayFormat: 'dd/MM/yyyy',
                valueFormat: 'yyyy/MM/dd',

              }"
            >
              <dxo-label text="From Date"></dxo-label>
            </dxi-item>
          </dx-form>
        </div>

        <div class="col-2 mt-2">
          <dx-form [formData]="dateForm" [labelMode]="'floating'">
            <dxi-item
              editorType="dxDateBox"
              dataField="todate"
              [editorOptions]="{
                applyValueMode: 'instantly',
                displayFormat: 'dd/MM/yyyy',
                valueFormat: 'yyyy/MM/dd',

              }"
            >
              <dxo-label text="To Date"></dxo-label>
            </dxi-item>
          </dx-form>
        </div>

        <div class="col-3">
          <dx-tag-box
            [searchEnabled]="true"
            [dropDownOptions]="{ height: 250 }"
            [items]="departmentDataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="departmentValue"
            label="Department"
            labelMode="floating"
            [showSelectionControls]="true"
            [showClearButton]="true"
            (onMultiTagPreparing)="onMultiTagDepartmentPreparing($event)"
            selectAllMode="allPages"
            [maxDisplayedTags]="0"
            [multiline]="false"
            applyValueMode="instantly"
            (onValueChanged)="
              reorderDataSource('departmentValue', 'departmentDataSource')
            "
          ></dx-tag-box>
        </div>

        <div class="col-3 d-flex align-items-end">
          <div class="position-relative flex-grow-1" style="min-width: 0">
            <dx-tag-box
              #insuranceTagBox
              [searchEnabled]="true"
              displayExpr="Name"
              valueExpr="ID"
              required
              [readOnly]="true"
              label="Insurance"
              labelMode="floating"
              [(value)]="insuranceNewValue"
              [items]="insuranceSelectedItems"
              [showSelectionControls]="true"
              [showClearButton]="true"
              selectAllMode="allPages"
              [multiline]="false"
              applyValueMode="instantly"
              [dropDownOptions]="{ height: 250 }"
              (click)="handleInsuranceClick($event)"
              [attr.title]="getInsuranceTooltip()"
              (onValueChanged)="onInsuranceValueChanged($event)"
            ></dx-tag-box>

            <!-- Search icon positioned inside the tag-box -->
            <dx-button
              icon="search"
              (onClick)="openInsurancePopup()"
              class="tagbox-search-button"
            ></dx-button>
          </div>
        </div>

        <div class="col-2 me-auto">
          <dx-button
            class="add-card mt-2"
            icon="refresh"
            text="Apply"
            type="success"
            stylingMode="contained"
            (click)="applyButtonClicked()"
          ></dx-button>
        </div>
      </div>

      <!-- Wrapper for Second and Third Rows -->
      <div *ngIf="showGroups" @toggleRows>
        <!-- Second Group -->
        <div class="row ms-1 me-1">
          <div class="col-10">
            <dx-drop-down-box
              class="dropdowncontent"
              labelMode="floating"
              labelLocation="left"
              label="Facility value"
              [(value)]="facilityvalue"
              valueExpr="ID"
              displayExpr="Name"
              [showClearButton]="true"
              [dataSource]="modifiedFacilityDatasource"
              [dropDownOptions]="{
                width: '70%',
                height: '45vh',
                position: {
                  my: 'left top',
                  at: 'left bottom',
                  of: '.dropdowncontent',
                  collision: 'fit flip'
                }
              }"
            >
              <div c *dxTemplate="let data of 'content'">
                <dx-data-grid
                  [dataSource]="modifiedFacilityDatasource"
                  [columns]="[
                    { dataField: 'ID', caption: 'Facility ID', width: 'auto' },
                    {
                      dataField: 'ShortName',
                      caption: 'Short Name',
                      width: 'auto'
                    },
                    {
                      dataField: 'Name',
                      caption: 'FacilityName',
                    },
                    { dataField: 'Region', caption: 'Region', width: 'auto' },
                    {
                      dataField: 'ProviderType',
                      caption: 'Provider Type',
                      width: 'auto'
                    }
                  ]"
                  [selection]="{ mode: 'multiple' }"
                  [hoverStateEnabled]="true"
                  [paging]="{ enabled: true, pageSize: 10 }"
                  [filterRow]="{ visible: true }"
                  [headerFilter]="{ visible: true }"
                  [scrolling]="{ mode: 'virtual' }"
                  [(selectedRowKeys)]="facilityvalue"
                  (onSelectionChanged)="
                    onSelectionChanged(
                      $event,
                      this.FacilityDataSource,
                      'modifiedFacilityDatasource'
                    )
                  "
                  width="'50%'"
                  [height]="'100%'"
                >
                </dx-data-grid>
              </div>
            </dx-drop-down-box>
          </div>

          <div class="col-2 me-2 justify-content-center">
            <dx-drop-down-button
              class="mt-2"
              text="Export"
              icon="export"
              [width]="'auto'"
              [visible]="vibleExportBtn"
              [items]="exportOptions"
              keyExpr="id"
              displayExpr="text"
              (onItemClick)="onExportClick($event)"
              [elementAttr]="{
                class: 'export-button'
              }"
            >
            </dx-drop-down-button>
          </div>
        </div>
      </div>

      <!-- Toggle Button -->
      <div class="row justify-content-center p-0 m-0">
        <div class="col-12 text-center">
          <dx-button
            class="toggle-button"
            [icon]="showGroups ? 'chevronup' : 'chevrondown'"
            stylingMode="outlined"
            type="default"
            (click)="toggleGroups()"
          ></dx-button>
        </div>
      </div>
      <!-- Toggle Button end -->
    </div>
  </div>

  <!-- =============================Card data Div============================= -->
  <div class="graph-scroll-container">
    <div class="">
      <!-- ====================================Graph Loading==================== -->

      <div class="graphContainer ExportDiv2">
        <div class="ChartContent">
          <dx-chart
            id="chart"
            [dataSource]="InsuranceSubmissionRevenueMOMDatasource"
            resolveLabelOverlapping="stack"
          >
            <dxo-title
              text="Revenue based on Submission Date (month-wise)"
              hint=""
            ></dxo-title>

            <dxi-series
              valueField="SubmissionOP"
              name="SubmissionOP"
              color="#0d66c2"
            ></dxi-series>
            <dxi-series
              valueField="SubmissionIP"
              name="SubmissionIP"
              color="#e8e56b"
            ></dxi-series>
            <dxi-series
              valueField="SubmissionPH"
              name="SubmissionPH"
              color="#8a114a"
            ></dxi-series>
            <dxi-series
              valueField="Resubmission"
              name="Resubmission"
              color="#b0bbc1"
            ></dxi-series>
            <dxo-common-series-settings
              argumentField="MonthName"
              type="stackedBar"
              [barWidth]="60"
            >
              <dxo-label
                [visible]="true"
                format="millions"
                [horizontalOffset]="50"
                [verticalOffset]="0"
                [backgroundColor]="'transparent'"
                [font]="{
                  color: 'var(--base-text-color)',
                  weight: 400,
                  size: 12
                }"
                [customizeText]="customizeLabelText"
              >
              </dxo-label>
            </dxo-common-series-settings>
            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="TotalcustomizeChartToolTip"
            >
            </dxo-tooltip>
            <dxo-legend
              [visible]="true"
              verticalAlignment="bottom"
              horizontalAlignment="center"
            ></dxo-legend>
          </dx-chart>
        </div>
      </div>

      <div class="graphContainer ExportDiv3">
        <div class="ChartContent">
          <dx-chart
            id="chart"
            [dataSource]="
              InsuranceSubmissionRevenueCumulativeProgressDatasource
            "
            resolveLabelOverlapping="stack"
          >
            <dxo-title
              text="Revenue based on Submission Date (date-wise)"
              hint=""
            ></dxo-title>

            <dxi-series
              valueField="SubmissionOP"
              name="SubmissionOP"
              color="#0d66c2"
            ></dxi-series>
            <dxi-series
              valueField="SubmissionIP"
              name="SubmissionIP"
              color="#e8e56b"
            ></dxi-series>
            <dxi-series
              valueField="SubmissionPH"
              name="SubmissionPH"
              color="#8a114a"
            ></dxi-series>
            <dxi-series
              valueField="Resubmission"
              name="Resubmission"
              color="#b0bbc1"
            ></dxi-series>
            <dxo-common-series-settings
              argumentField="Date"
              type="stackedBar"
              [barPadding]="0.4"
            >
              <dxo-label
                [visible]="true"
                format="millions"
                [horizontalOffset]="32"
                [verticalOffset]="30"
                [rotationAngle]="-45"
                position="outside"
                [backgroundColor]="'transparent'"
                [font]="{
                  color: 'var(--base-text-color)',
                  weight: 400,
                  size: 12
                }"
                [customizeText]="customizeLabelText"
              >
                <dxo-connector [visible]="true"></dxo-connector>
              </dxo-label>
            </dxo-common-series-settings>
            <!-- Format the X-axis date to 'MMM d' (e.g., May 1) -->
            <dxo-argument-axis>
              <dxo-label
                [customizeText]="customizeArgumentDateLabel"
              ></dxo-label>
            </dxo-argument-axis>
            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="TotalcustomizeChartToolTipDayWise"
            >
            </dxo-tooltip>
            <dxo-legend
              [visible]="true"
              verticalAlignment="bottom"
              horizontalAlignment="center"
            ></dxo-legend>
          </dx-chart>
        </div>
      </div>

      <div class="graphContainer ExportDiv4">
        <div>
          <div class="ChartContent text-center">
            <dx-chart
              [valueAxis]=""
              id="chart"
              [dataSource]="CaseMixIndexDatasource"
            >
              <dxo-title text="Case Mix Index" hint=""></dxo-title>
              <dxo-size [height]="402"></dxo-size>
              <dxi-series
                argumentField="MonthName"
                valueField="Weight1"
                name="Total CMI"
                type="spline"
                [dashStyle]="'dot'"
              >
                <dxo-label
                  [visible]="true"
                  [horizontalOffset]="30"
                  [verticalOffset]="20"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 12 }"
                ></dxo-label>
              </dxi-series>

              <dxi-series
                argumentField="MonthName"
                valueField="Weight2"
                name="Adjusted CMI (without Neonatal and Child Birth)"
                type="spline"
                [dashStyle]="'solid'"
              >
                <dxo-label
                  [visible]="true"
                  [horizontalOffset]="30"
                  [verticalOffset]="20"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 12 }"
                ></dxo-label>
              </dxi-series>
              <dxo-legend [visible]="false"></dxo-legend>
              <dxo-common-pane-settings>
                <dxo-border
                  [visible]="true"
                  [width]="1"
                  [top]="false"
                  [right]="false"
                ></dxo-border>
              </dxo-common-pane-settings>

              <dxo-export [enabled]="false"></dxo-export>
              <dxo-tooltip [enabled]="true"></dxo-tooltip>
              <dxo-legend
                [visible]="true"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxo-argument-axis
                type="discrete"
                [position]="'bottom'"
                [label]="{
                rotationAngle: -70,
                overlappingBehavior: 'rotate',
              }"
              >
                <dxo-grid [visible]="true" [opacity]="0.5"></dxo-grid>
              </dxo-argument-axis>
              <dxo-loading-indicator [enabled]="true"></dxo-loading-indicator>
            </dx-chart>
          </div>
        </div>
      </div>

      <div class="graphContainer ExportDiv5">
        <div class="d-flex gap-1">
          <div class="ChartContent text-center">
            <dx-pie-chart
              class="p-0 m-0"
              palette="bright"
              [dataSource]="CaseTypeWiseRatioDatasource"
            >
              <dxo-title text="IP/DC vs OP Volume " hint=""></dxo-title>

              <dxo-legend
                orientation="horizontal"
                itemTextPosition="right"
                verticalAlignment="bottom"
                horizontalAlignment="center"
                [columnCount]="4"
              ></dxo-legend>
              <!-- <dxo-export [enabled]="true"></dxo-export> -->
              <dxi-series argumentField="CaseType" valueField="Amount">
                <dxo-label
                  [visible]="true"
                  position="columns"
                  [customizeText]="PieChartcustomizeLabel"
                >
                  <dxo-connector [visible]="true"></dxo-connector>
                </dxo-label>
              </dxi-series>
            </dx-pie-chart>
          </div>

          <div class="ChartContent text-center">
            <dx-pie-chart
              class="p-0 m-0"
              palette="bright"
              [dataSource]="IPVolume"
            >
              <dxo-title text="IP Volume " hint=""></dxo-title>

              <dxo-legend
                orientation="horizontal"
                itemTextPosition="right"
                verticalAlignment="bottom"
                horizontalAlignment="center"
                [columnCount]="4"
              ></dxo-legend>
              <!-- <dxo-export [enabled]="true"></dxo-export> -->
              <dxi-series argumentField="CaseType" valueField="Amount">
                <dxo-label
                  [visible]="true"
                  position="columns"
                  [customizeText]="PieChartcustomizeLabel"
                >
                  <dxo-connector [visible]="true"></dxo-connector>
                </dxo-label>
              </dxi-series>
            </dx-pie-chart>
          </div>
        </div>
      </div>

      <div class="graphContainer ExportDiv6">
        <div class="d-flex gap-1">
          <div class="ChartContent p-3">
            <dx-chart
              id="chart"
              [dataSource]="DailyFootFallDatasource"
              [rotated]="false"
            >
              <dxo-title
                text="Daily foot fall (based on submission)"
                hint=""
              ></dxo-title>
              <dxo-legend
                [visible]="false"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxi-series
                name="Dailyfootfall"
                argumentField="MonthName"
                valueField="FootFall"
                type="bar"
                color="#FFC324"
                [barWidth]="30"
              >
                <dxo-label
                  [visible]="true"
                  format="millions"
                  [customizeText]="MillioncustomizeLabel"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 14 }"
                >
                </dxo-label>
              </dxi-series>
              <dxo-argument-axis
                [position]="'bottom'"
                [label]="{
                  rotationAngle: -60,
                  overlappingBehavior: 'rotate',
                  customizeText: formatXAxisText
                }"
              >
              </dxo-argument-axis>
              <dxo-tooltip
                [enabled]="true"
                [customizeTooltip]="DailyFootFallCustomizeTooltip"
              ></dxo-tooltip>
            </dx-chart>
          </div>

          <div class="ChartContent p-3">
            <dx-chart
              id="chart"
              [dataSource]="OPFootFallBasedDatasource"
              [rotated]="false"
            >
              <dxo-title
                text="MTD- Foot fall based on time  blocks (OP)"
                hint=""
              ></dxo-title>
              <dxo-legend
                [visible]="false"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxi-series
                name="OverallOPBased"
                argumentField="Time"
                valueField="Percent"
                type="bar"
                color="#cbf257"
                [barPadding]="0.1"
                [barWidth]="150"
              >
                <dxo-label
                  [visible]="true"
                  [customizeText]="customizeLabel"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 14 }"
                >
                </dxo-label>
              </dxi-series>
              <dxo-tooltip
                [enabled]="true"
                [customizeTooltip]="OPFootFallBasedCustomizeTooltip"
              ></dxo-tooltip>
              <dxo-argument-axis
                [position]="'bottom'"
                [label]="{
                  rotationAngle: -60,
                  overlappingBehavior: 'rotate',
                  customizeText: formatXAxisText
                }"
              >
              </dxo-argument-axis>
            </dx-chart>
          </div>

          <div class="ChartContent p-3">
            <dx-chart
              id="chart"
              [dataSource]="ERFootFallBasedDatasource"
              [rotated]="false"
            >
              <dxo-title
                text="MTD- Foot fall based on time  blocks (ER)"
                hint=""
              ></dxo-title>
              <dxo-legend
                [visible]="false"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxi-series
                name="OverallERBased"
                argumentField="Time"
                valueField="Percent"
                type="bar"
                color="#07a3db"
              >
                <dxo-label
                  [visible]="true"
                  [customizeText]="customizeLabel"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 14 }"
                >
                </dxo-label>
              </dxi-series>
              <dxo-tooltip
                [enabled]="true"
                [customizeTooltip]="ERFootFallBasedCustomizeTooltip"
              ></dxo-tooltip>
              <dxo-argument-axis
                [position]="'bottom'"
                [label]="{
                  rotationAngle: -60,
                  overlappingBehavior: 'rotate',
                  customizeText: formatXAxisText
                }"
              >
              </dxo-argument-axis>
            </dx-chart>
          </div>
        </div>
      </div>

      <div class="graphContainer ExportDiv7">
        <div class="d-flex gap-1">
          <div class="ChartContent p-3">
            <dx-chart
              id="chart"
              [dataSource]="topPerformingDoctorDataSource"
              [rotated]="false"
              style="padding-bottom: 80px"
            >
              <dxo-title
                text="Top performing doctors (Revenue Wise)"
                hint=""
              ></dxo-title>
              <dxo-legend
                [visible]="false"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxi-series
                name="topPerformingDoctors"
                argumentField="ClinicianShortName"
                valueField="Amount"
                type="bar"
                color="#008080"
              >
                <dxo-label
                  [visible]="true"
                  format="millions"
                  [customizeText]="MillioncustomizeLabel"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 14 }"
                  position="outside"
                  [rotationAngle]="-75"
                >
                </dxo-label>
              </dxi-series>
              <dxo-argument-axis
                [position]="'bottom'"
                [label]="{
                  rotationAngle: -60,
                  overlappingBehavior: 'rotate',
                  customizeText: formatXAxisText
                }"
              >
              </dxo-argument-axis>
              <dxo-tooltip
                [enabled]="true"
                [customizeTooltip]="topPerformingDoctorCustomizeTooltip"
              ></dxo-tooltip>
            </dx-chart>
          </div>

          <div class="ChartContent p-3">
            <dx-chart
              id="chart"
              [dataSource]="topPerformingDepartmentDataSource"
              [rotated]="false"
              style="padding-bottom: 80px"
            >
              <dxo-title
                text="Top Performing Department (Revenue wise)"
                hint=""
              ></dxo-title>
              <dxo-legend
                [visible]="false"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxi-series
                name="topPermingDepartment"
                argumentField="Department"
                valueField="Amount"
                type="bar"
                color="#f09d7a"
              >
                <dxo-label
                  [visible]="true"
                  format="millions"
                  [customizeText]="MillioncustomizeLabel"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 14 }"
                  position="outside"
                  [rotationAngle]="-75"
                >
                </dxo-label>
              </dxi-series>
              <dxo-tooltip
                [enabled]="true"
                [customizeTooltip]="topPerformingDepartmentCustomizeTooltip"
              ></dxo-tooltip>
              <dxo-argument-axis
                [position]="'bottom'"
                [label]="{
                  rotationAngle: -60,
                  overlappingBehavior: 'rotate',
                  customizeText: formatXAxisText
                }"
              >
              </dxo-argument-axis>
            </dx-chart>
          </div>

          <div class="ChartContent p-3">
            <dx-chart
              id="chart"
              [dataSource]="topFootFallDepartmentDataSource"
              [rotated]="false"
              style="padding-bottom: 80px"
            >
              <dxo-title text="Top Footfall Departments" hint=""></dxo-title>
              <dxo-legend
                [visible]="false"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
              <dxi-series
                name="topFootFallDepartment"
                argumentField="Department"
                valueField="FootFall"
                type="bar"
                color="#7abdf0"
              >
                <dxo-label
                  [visible]="true"
                  [customizeText]="MillioncustomizeLabel"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 400, size: 14 }"
                  position="outside"
                  [rotationAngle]="-75"
                >
                </dxo-label>
              </dxi-series>
              <dxo-tooltip
                [enabled]="true"
                [customizeTooltip]="topFootFallDepartmentCustomizeTooltip"
              ></dxo-tooltip>
              <dxo-argument-axis
                [position]="'bottom'"
                [label]="{
                  rotationAngle: -60,
                  overlappingBehavior: 'rotate',
                  customizeText: formatXAxisText
                }"
              >
              </dxo-argument-axis>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-load-panel
  *ngIf="loadingVisible"
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#fullpageDiv' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>

<dx-load-panel
  *ngIf="exportLoadingVisible"
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#fullpageDiv' }"
  [(visible)]="exportLoadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
  message="Exporting..."
>
</dx-load-panel>

<dx-popup
  [(visible)]="insurancePopupVisible"
  [width]="600"
  [height]="500"
  [showTitle]="true"
  title="Select Insurance"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let data of 'content'" class="popup-content">
    <dx-data-grid
      [dataSource]="insuranceDataSource1"
      [selection]="{ mode: 'multiple' }"
      [showBorders]="true"
      [height]="400"
      (onSelectionChanged)="onInsuranceSelectionChanged($event)"
      [selectedRowKeys]="insuranceValue"
    >
      <dxo-filter-row [visible]="true" applyFilter="auto"></dxo-filter-row>

      <dxo-pager
        [visible]="true"
        [displayMode]="displayMode"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <!-- <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]"></dxo-pager> -->
      <dxi-column dataField="ID" caption="ID" width="100"></dxi-column>
      <dxi-column dataField="Name" caption="Insurance Name"></dxi-column>
    </dx-data-grid>
  </div>
</dx-popup>
